#calculator{
    width: 30rem;
    height: 30rem;
    background-color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#display{
    width: 100%;
    height: 5rem;
    background-color: #f0f;
}
#display_input{
    width: 100%;
    height: 100%;
    font-size: 2rem;
}
#display_input:hover{
    box-shadow: 0.3px 0.3px 0.3px 0.3px #00f;
}
#functions{
    display: flex;
    flex-wrap: wrap;
}
#functions > input{
    flex: auto;
    margin: 0.4rem;
}